body {
    margin: 20px;
    background-color: gray;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-gap: 5px;
    color: #444;
  }
  
  .box {
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    font-size: 150%;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 0px;
  }

  .sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    font-size: 20pt;
  }
  

  p#gameMatchup {
    color: black;
    font-weight: bold;
    font-size: 20pt;
  }

